@import "tailwindcss";

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

button {
    cursor: pointer;
}

@keyframes popupIn {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
